version: 2.1

orbs:
  maven: circleci/maven@2.1.1
  slack: circleci/slack@4.3.0
jobs:
  notify:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - slack/notify:
          event: fail
          template: basic_fail_1
      - slack/notify:
          event: pass
          template: basic_success_1
workflows:
  maven_test:
    jobs:
      - maven/test:
          executor:
            name: maven/default
            tag: "21.0"
          context: "Keep.id Slack"
          environment:
            PORT: "7001"
            TEST_PORT: "7001"
            NEW_USER_ACTUALURL: "https://httpbin.org/post"
            NEW_USER_TESTURL: "https://httpbin.org/post"
            NEW_ORG_ACTUALURL: "https://httpbin.org/post"
            NEW_ORG_TESTURL: "https://httpbin.org/post"
            ISSUE_REPORT_ACTUALURL: "https://httpbin.org/post"
            ISSUE_REPORT_TESTURL: "https://httpbin.org/post"
            WEEKLY_REPORT_ACTUALURL: "https://httpbin.org/post"
            WEEKLY_REPORT_TESTURL: "https://httpbin.org/post"